{% extends "homebase.html" %}
{% load static %}

{% block title %}About Us{% endblock title%}
{% block keywords %}keywords{% endblock keywords%}
{% block description %}Burası anasayfa...{% endblock description%}

{% block body %}
<style>
    body{
        margin-top: 150px;
    }
</style>

 <!-- Checkout Page Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    {{user_form.as_p}}
                </div>
                <div class="col-md-12 col-lg-6 col-xl-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Products</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_cart in cart %}
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center mt-2">
                                                <img src="{{product_cart.product.image.url}}" class="img-fluid rounded-circle" style="width: 90px; height: 90px;" alt="">
                                            </div>
                                        </th>
                                        <td class="py-5">{{ product_cart.product.title }}</td>
                                        <td class="py-5">{{ product_cart.product.price }}</td>
                                        <td class="py-5">{{ product_cart.quantity }}</td>
                                        <td class="py-5">{{ product_cart.amount }}</td>
                                    </tr>
                                {% endfor %}
                                
                                {% if user_coupon %}
                                    <tr>
                                        <th scope="row">
                                        </th>
                                        <td class="py-5">
                                            <p class="mb-0 text-dark text-uppercase py-3">Coupon</p>
                                        </td>
                                        <td class="py-5"></td>
                                        <td class="py-5"></td>
                                        <td class="py-5">
                                            <div class="py-3 border-bottom border-top">
                                                <p class="mb-0 text-dark">-{{ user_coupon.coupon.discount }}</p>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td class="py-5">
                                        <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                    </td>
                                    <td class="py-5"></td>
                                    <td class="py-5"></td>
                                    <td class="py-5">
                                        <div class="py-3 border-bottom border-top">
                                            <p class="mb-0 text-dark">{{ totalPrice }}</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
{% endblock body %}
