{% extends "homebase.html" %}
{% load static %}

{% block title %}Ürünler{% endblock title%}
{% block keywords %}keywords{% endblock keywords%}
{% block description %}Burası ürünler sayfası...{% endblock description%}


{% block body %}
<style>
    body{
        margin-top: 150px;
    }
</style>


 <div class="container-fluid fruite py-5">
    <div class="container py-5">
            <h1 class="mb-4">Order Products</h1>
            <div class="row g-4">
            
                <div class="col-lg-4">    
                    {% include "_useraccountnavbar.html" %}
                    
                </div>
                
                <div class="col-lg-7">
                    <div class="row g-4">
                        
                       
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Order Code</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in order_products %}
                                    <tr>
                                        <td>
                                            {{product.order.code}}
                                        </td>
                                        <td>
                                            {{product.product.title}}
                                        </td>
                                        
                                        <td>
                                            {{product.quantity}}
                                        </td>
                                        <td>
                                            {{product.price}}
                                        </td>
                                        <td>
                                            {{product.amount}}
                                        </td>
                                        <td>
                                            {{product.status}}
                                        </td>
                                        
                                        <td>
                                            {{product.user.username}}
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            
    </div>
</div>
<!-- Fruits Shop End-->
{% endblock body %}